USE [msdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_DynamicDBSnapshotCreate]    Script Date: 10/8/2020 10:28:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[sp_DynamicDBSnapshotCreate] @DbName varchar(64)   
as  
set nocount on;  
declare   
 @sqlvar nvarchar(3500),   
 @dbvar  nvarchar(500),   
 @var0   int            = 0,  
 @sqlvar1   nvarchar(max),   
 @file_name varchar(800),   
 @path      varchar(1510);  

select @sqlvar = concat('  
 select   
  [name],  
  [physical_name]        
 from ', quotename(@DbName, '['),'.sys.database_files')  
 
declare @now	datetime = getdate()
declare @nowstring	varchar(64)

 select @nowstring = (left( replace( replace( replace(convert(varchar(32),@now,120), '-', '' ) , ':', '' ), ' ', '' ),12 ))
 select @nowstring 
  
--set @dbvar = @DbName + '_dbss'+convert(varchar, getdate(), 112);  
set @dbvar = @DbName + '_dbss_' + @nowstring ;

set @sqlvar1 = N'  
create database ' + @dbvar + '   
on';  
declare   
 @temptab as table (   
 [name]          varchar(800),   
 [physical_name] varchar(1510) );  
  
insert into @temptab  
execute sp_executesql  @statement = @sqlvar;  
  
declare sp_execDBSnap_cursor cursor  
for select * from @temptab;  
open sp_execDBSnap_cursor;  
fetch next from sp_execDBSnap_cursor into   
 @file_name,   
 @path;  
while @@fetch_status = 0  
begin      
 -- exclude log files  
 if charindex('.ldf', @path) = 0  
 begin  
  if @var0 = 0  
  begin  
   set @sqlvar1 = @sqlvar1 + N'  
     ( name = [' + @file_name + '], filename = ''' + @path + '_' + @nowstring +  '.ss' + ''' )';
	   
  end;  
   else  
  begin  
   set @sqlvar1 = @sqlvar1 + N'  
 	,( name = [' + @file_name + '], filename = ''' + @path + '_' + @nowstring + '.ss' + ''' )';  
  end;  
 end;  
 set @var0 = @var0 + 1;  
 fetch next from sp_execDBSnap_cursor into   
  @file_name,   
  @path;  
end;  
close sp_execDBSnap_cursor;  
deallocate sp_execDBSnap_cursor;  
set @sqlvar1 = @sqlvar1 + N'  
 as snapshot of ' + @DbName + '';  
if not exists ( select   
         [name]  
        from sys.databases  
        where [name] = '' + @dbvar + '' )   
begin  
 -- run create database snapshot script   
-- select @sqlvar1;  
 execute sp_executesql @statement = @sqlvar1;  
end;  
 else -- return snapshot exists message  
begin  
 print 'database snapshot ' + @dbvar + ', already exists!';  
end;  