USE [msdb]
GO
/****** Object:  StoredProcedure [dbo].[sp_DynamicDBSnapshotRestore]    Script Date: 10/8/2020 10:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[sp_DynamicDBSnapshotRestore] @DbName varchar(64) 
as
set nocount on;

declare  
	@SnapshotName varchar(64),
	@sql nvarchar(max)

select @SnapshotName = S.[name]
from sys.databases as S
	join sys.databases as D on S.source_database_id = D.database_id
where  D.[name] = @DbName

if (@SnapshotName is null) begin
print 'database snapshot for database ' + @DbName + 'is missing!';
end
else begin


select @sql = concat('
alter database ', quotename(@DbName, '['), '
set single_user
with rollback immediate

restore database ', quotename(@DbName, '['), '
from database_snapshot = ', quotename( @SnapshotName, ''''), '

alter database ', quotename ( @DbName, '['), '
set multi_user
with rollback immediate
' )

execute sp_executesql @statement = @sql;
select '/* the following statement */
', @sql,
' /*is executed*/'

end;
